h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
color: lightseagreen;
}

h2 {
color: lightseagreen;


}

p {
font-family:fantasy;
color:black
    
}

ul {
font-family: sans-serif;  
color:rgba(32, 32, 27, 0.63)  
}